body{
    text-align: center;
    font-family: Arial;
}

.board{
    display: grid;
    grid-template-columns: repeat(3,100px);
    gap: 5px;
    justify-content: center;
}

.cell{
    height: 100px;
    font-size: 40px;
    cursor: pointer;
}

#restart{
    margin-top: 20px;
    padding: 10px;
}
